{{ define "app" }}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8" />
	<title>Tournament</title>
	<link rel="icon" href="/assets/favicon.png">
	<link rel="stylesheet" href="/assets/lib/bootstrap/bootstrap.min.css" />
	<link rel="stylesheet" href="/assets/app/css/style.css?v=1.0.0" /> <!-- change every time on prod css change -->
</head>
<body>
	<noscript>You need to enable JavaScript to run this app.</noscript>
	<div id="root"></div>
</body>
<script src="/assets/app/js/app.js?v=1.0.0"></script> <!-- change every time on prod js change -->
</html>
{{ end }}