#root {
	/* background-color: red; */
	margin: 0;
}

html {
	height: -webkit-fill-available;
}

* {
	font-family: 'Open Sans', sans-serif !important;
}

body {
	min-height: 100vh;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
}

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
	max-width: 100%;
}

a.disabled-cursor {
	cursor: default;
	text-decoration: none;
}

.navbar {
	height: 56px;
}